body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: $transition-base;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
  margin-top: 3rem;
  text-align: center;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 64px;
    background: url("../img/urlINLINE.png") no-repeat center;
  }
}