body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  transition: $transition-base;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 3rem;
  text-align: center;
  text-transform: capitalize;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -48px;
    left: -40%;
    width: 100%;
    height: 64px;
    background: url("../img/urlINLINE.png") no-repeat center;
    transform: scale(0.5);
  }
}

#btn {
  max-width: 240px;
}