.dark-theme {
  background: $color-secondary;
  color: white;

  h1 {
    color: $color-primary;
  }

  .button {
    background-color: white;
    @include yiq-contrasted(white);
  }

  .inj {

    path {
      fill: white;
    }
  }
}